:root{
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --white:#FFFFFF;
    --black: #000000;
    --dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;

}
body{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight:700px;
    font-style: normal;
    }

    .card-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, 240px);
        gap: 26px;
        place-content: center;
       
    }

    .producto-card{
        width: 240px;
    }

    .product-card img{
        width: 100%;
        height: 240px;
        border-radius: 20px;  
        object-fit: cover;     
    }

    .informacion-producto{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 12px;
    }
    .informacion-producto figure{
      margin: 0;
    }

    .informacion-producto div p:nth-child(1){
        font-weight: bold;
        font-size: var(--md);
        margin-top: 0;
        margin-bottom: 4px;
    }

    .informacion-producto div p:nth-child(2){
     
        font-size: var(--sm);
        color: var(--very-light-pink);
        margin-top: 0;
        margin-bottom: 0;
    }
         

    .informacion-producto figure img{
        width: 40px;
        height: 40px;
    }

    @media  (max-width: 640px){

        .card-container{
          
            grid-template-columns: repeat(auto-fill, 140px);
            
        }
        .producto-card{
            width: 140px;
        }
    
        .product-card img{
            width: 100%;
            height: 140px;
            
        }

    }
        
    